* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.calc-container {
    width: 30%;
    background-color: rgb(1, 116, 116);
    border-radius: 5px;
    overflow: hidden;
}

.calc-Header {
    text-align: center;
    background-color: rgb(0, 71, 71);
    padding: 20px 0;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.calcDescription {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 5px;
}


.calc-section {
    padding: 15px 20px;
}

.calc-select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #e4e4e4;
    outline: none;
    color: #000;
}

form {
    padding: 20px 0;
    color: #fff;
}

form p {
    margin: 5px 0;
}

form input {
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #e4e4e4;
    border: none;
    color: #000;
}

form input:focus {
    outline: none;
}

form input:last-of-type {
    background-color: orange;
    border: none;
    margin-bottom: 0px;
    color: #000;
    font-size: 1.1rem;
}

#calcResult {
    text-align: center;
}

#sumary {
    text-align: center;
    font-size: 0.8rem;
}

.footer {
    color: #fff;
    margin-top: 20px;
    font-size: 0.8rem;
}

.footer p span {
    color: orange;
}



/* Media Query */
@media screen and (min-width: 250px), (max-width: 800px) {

    .calc-container {
        width: 85%;
    }

    #calcResult {
        font-size: 0.8rem;
        margin-top: 0;
    }
}